.course_gellary{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

}

.course_gellary>.course_image img{
    width: 100%;
    height: 200px;
    display: block;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.course_gellary>.course_image img:hover{
    opacity:0.6;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);

}
.course_gellary>.course_title{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #0f0f0f;
    opacity: 0.8;
}
.course_gellary>.course_title a{
    display: block;
    font-size: 16px;
    padding-left: 30px;
    line-height: 56px;
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    -webkit-transition: color 0.1s ease 0s;
    -moz-transition: color 0.1s ease 0s;
    -o-transition: color 0.1s ease 0s;
    transition: color 0.1s ease 0s;
}
.course_gellary>.course_title a:hover{
    color:#ddd;
}